<div class="container" style="align:center;">
    <h3 class="center-align">중앙대 술집?</h3>
      <div class="row">
        <div class="col s12">
          <div class="card grey lighten-2">
            <div class="card-content black-text">
              <h2 class="center-align"><%= @pub.title %></h2>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn-large" href="/" style="margin-left:1%;">뭐먹지?</a>
                <a class="waves-effect waves-light btn-large" href="/caueat/pub">술집은?</a>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="card blue-grey darken-1">
                <div class="card-action">
                    <input type="hidden" value="<%= @pub.id %>" name="id_of_pub">
                    <div class="input-field col s3">
                      <input placeholder="이름" id="pub_writer_<%= @pub.id %>" name="writer" type="text" class="validate">
                      <label class="active" for="pub_writer">작성자(필수)</label>
                    </div>
                    <div class="input-field col s9">
                      <input placeholder="괜찮아요!" id="pub_content_<%= @pub.id %>" name="content" type="text" class="validate">
                      <label class="active" for="pub_content">댓글(필수)</label>
                    </div>
                      <button class="btn waves-effect waves-light" id="reply_submit" value="<%= @pub.id %>" type="submit" name="action" style="float:right;">댓글</button>
                </div>
                  <div class="card-content white-text">
                    <div id="reply_<%= @pub.id %>">
                    </div>
                  </div>
                  <% @pub.pubcomments.reverse_each do |r| %>
                    <div class="card-content white-text">
                      <span class="card-title">ㄴ<%= r.writer %></span>
                      <p><%= r.content %></p>
                      <p><%= r.created_at %></p>
                    </div>
                  <% end %>
              </div>  
            </div>
          </div>
        </div>
      </div>
</div>

<script>
$(function() {
  $('#reply_submit').click(function(){
    post_id_ajax = this.value
    reply_writer_ajax = $("#pub_writer_" + post_id_ajax).val();
    reply_content_ajax = $("#pub_content_" + post_id_ajax).val();
    $.ajax({
      method: "POST",
      url: "/caueat/pubcomment",
      data: { writer: reply_writer_ajax, content: reply_content_ajax, id_of_pub: post_id_ajax }
    })
    .done(function( msg ) {
      $( "#reply_" + post_id_ajax ).append("<span class=\"card-title\">" + reply_writer_ajax + "</span>");
      $( "#reply_" + post_id_ajax ).append("<p>" + reply_content_ajax + "</p>");
      $("#pub_writer_" + post_id_ajax).val('');
      $("#pub_content_" + post_id_ajax).val('');
    });
  });
});
</script>